.navBar {
  .header {
  }
  .container {
    // overflow: scroll;
    .filterByCategory {
      span {
        display: inline-block;
        padding: 12px;
        margin: 8px;
        background: #f2f4ff;
        border-radius: 10px;
        color: #4661e6;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.5s;
      }
      span:hover {
        background-color: #4661e6;
        color: white;
      }
    }
  }
}
@media only screen and(min-width:620px) {
  .navBar {
    .header {
      width: 30%;
    }
    .container {
      visibility: visible;
      width: 70%;
      .filterByCategory {
        width: 45%;
        margin: 0 5%;
        span {
        }
      }
      .roadMap {
        width: 45%;
      }
    }
  }
}
